*{
  margin: 2px;
}
.logo{
  height:30px;
}
.nav-left, .nav-right{
  display: inline-block;
}

.columnas{
       color: ;
	background-color: #D8D3D4  
;
}
.p{
	font: 150% sans-serif;

}
.color{
  background-color: #D8D3D4
}
